:root{
    --black-color:#212529;
    --orange-color:#FFB742;
    --white-color:#ffffff;
    --card-color:#292B2E;
}
body{
    background-color: var(--black-color);
    font-family:'Poppins', sans-serif;
}

/* HEADER */
.header{
display: inline-flex;
justify-content: space-around;
width: 100%;
}
.nav{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
a{

    text-decoration: none;
}
.link > a{
    color: var(--white-color);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.1rem;
    
}
.header__btn{
    background-color: var(--orange-color);
    color:var(--black-color);
    border-radius: 50px;
    width: 121px;
    height: 54px;
    text-align: center;
}
.header__btn > a{
    color:var(--black-color);
    font-weight: 700;
    font-size: 1.1rem;
    padding: .6rem 1.4rem;
}

/* MAIN */
.about-me{
    margin-top: 100px;
    color:var(--white-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 2rem;

}
h1 > span{
color: var(--orange-color);
}
h2 {
font-size: 3rem;
}
p{
font-size: 1.5rem;
/* font-weight: 400; */
}

/* experience */

.cards{
    display: flex;
justify-content: space-between;
align-items: center;
}
.card{
    width: 30%;
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    text-align: center;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.card>div>div:first-of-type{
    color:var(--orange-color);
font-size: 2rem;
}
.card>div>div:last-of-type{
    color:var(--white-color);
    font-size: 1rem;
}