@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&family=Volkhov&display=swap");
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Rosario", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.fullscreen {
  height: 100vh;
  display: flex;
  padding-top: 10.62rem;
}

.navigation {
  background-color: #000;
  padding: 0;
}
.navigation a {
  color: #FFF;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navigation__logo {
  background-color: #FFF;
}
.navigation__logo img {
  height: 100px;
}

.menu__item {
  font-size: 3.6rem;
  font-weight: 700;
  font-style: italic;
  padding-left: 40px;
}
.menu__item:hover {
  animation: shaking 1s ease 0s 1 normal forwards;
}

.navbar-toggler-icon {
  width: 3.5rem;
  height: 3.5rem;
}

@keyframes shaking {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-20px) rotate(4deg);
  }
  30% {
    transform: translateX(10px) rotate(-4deg);
  }
  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}
.gallery {
  padding: 7rem 4.3rem;
  flex: 1 1 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 4.5rem;
  column-gap: 3rem;
}

.gallery__items {
  position: relative;
  height: 100%;
  align-self: center;
  opacity: 0;
}
.gallery__items img {
  border-radius: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item_1 {
  grid-area: 1/1/3/2;
  height: 70%;
  animation: fadeInLeft 1.5s ease 2s 1 normal forwards;
}

.item_2 {
  grid-area: 1/2/2/3;
  animation: fadeInLeft 1.5s ease 1s 1 normal forwards;
}

.item_3 {
  grid-area: 1/3/2/4;
  animation: fadeInRight 1.5s ease 1s 1 normal forwards;
}

.item_4 {
  grid-area: 2/2/3/3;
  animation: fadeInLeft 1.5s ease 1s 1 normal forwards;
}

.item_5 {
  grid-area: 2/3/3/4;
  animation: fadeInRight 1.5s ease 1s 1 normal forwards;
}

.item_6 {
  grid-area: 1/4/3/5;
  height: 70%;
  animation: fadeInRight 1.5s ease 2s 1 normal forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-55rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(55rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.services {
  padding-top: 2.7rem;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.services:hover .services__item:nth-child(1) {
  animation: rotate_1 7s ease 0s infinite normal forwards;
}
.services:hover .services__item:nth-child(2) {
  animation: rotate_2 7s ease 0s infinite normal forwards;
}
.services:hover .services__item:nth-child(3) {
  animation: rotate_3 7s ease 0s infinite normal forwards;
}
.services:hover .services__item:nth-child(4) {
  animation: rotate_4 7s ease 0s infinite normal forwards;
}

.poster {
  width: 50%;
  background: url("../img/screen_2/scissors.jpeg") center center/cover no-repeat;
}

.services__item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__item img {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}
.services__item p {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 4.8rem;
}

@keyframes rotate_1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rotate_2 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(-100%, 100%);
  }
  75% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rotate_3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -100%);
  }
  50% {
    transform: translate(100%, -100%);
  }
  75% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rotate_4 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-100%, 0);
  }
  50% {
    transform: translate(-100%, -100%);
  }
  75% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.personal {
  display: flex;
  flex-direction: column;
}

.personal__header {
  font-weight: 700;
  font-size: 9.6rem;
  text-align: center;
  margin: 0;
  padding-bottom: 5.1rem;
}

.personal__content {
  display: flex;
  justify-content: space-around;
  height: 67.7rem;
}
.personal__content:hover .personal__card {
  filter: grayscale(100);
  transition: all 0.5s;
}
.personal__content .personal__card:hover {
  filter: grayscale(0);
}
.personal__content .personal__card:hover p {
  opacity: 1;
}

.personal__card {
  border-radius: 4rem;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.personal__card p {
  margin: 0;
  font-family: "Volkhov", sans-serif;
  font-size: 4.8rem;
  text-align: center;
  color: #FFFAFA;
  background-color: rgba(163, 83, 10, 0.7);
  height: 15.4rem;
  line-height: 15.4rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  opacity: 0;
  transition: all 0.5s;
}

.person_1 {
  background: url("../img/screen_3/Meredith.jpeg") center center/cover no-repeat;
}

.person_2 {
  background: url("../img/screen_3/Jason.jpeg") center center/cover no-repeat;
}

.person_3 {
  background: url("../img/screen_3/Ryan.jpeg") center center/cover no-repeat;
}

.person_4 {
  background: url("../img/screen_3/James.jpeg") center center/cover no-repeat;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 0 13rem;
  font-size: 3rem;
  text-align: center;
  font-style: italic;
  font-weight: 600;
  height: 100%;
}
.footer a {
  text-decoration: none;
  color: #000;
}
.footer a:hover {
  background-color: rgba(163, 83, 10, 0.7);
}
.footer p {
  margin: 0;
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer span {
  font-weight: 700;
}
.footer__opening h2 {
  font-size: 3.6rem;
  font-weight: 700;
  margin: 0;
  padding-bottom: 3rem;
}
.footer__social {
  display: flex;
  flex-direction: column;
}
.footer__social h2 {
  padding-bottom: 1rem;
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}
.footer__social a {
  text-align: left;
}

.footer__first {
  display: flex;
  justify-content: space-between;
}
.footer__first h2 {
  font-size: 6.4rem;
  font-weight: 700;
  font-style: italic;
  margin: 0;
}

.footer__form {
  width: 50%;
}
.footer__form form {
  margin-top: 2rem;
  background: #E5E5E5;
  padding-bottom: 2rem;
}
.footer__form form input {
  padding-left: 1rem;
  border: none;
  height: 8rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.footer__form form input::placeholder {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  line-height: 8rem;
}
.footer__form form #name {
  width: 40%;
}
.footer__form form #email {
  width: 45%;
  margin-left: 4.5rem;
}
.footer__form form textarea {
  padding-left: 1rem;
  border: none;
  resize: none;
  height: 20rem;
  width: 93%;
}
.footer__form form textarea::placeholder {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.footer__map {
  width: 50%;
  margin-left: 4.3rem;
}
.footer__map iframe {
  width: 100%;
  height: 100%;
}

.footer__first, .footer__second {
  padding-top: 4.3rem;
  display: flex;
  justify-content: space-between;
}

.footer__social-insta:before {
  content: url("../img/icon/instagram.png");
  display: inline-block;
  padding-right: 1rem;
}

.footer__social-facebook:before {
  content: url("../img/icon/facebook.png");
  display: inline-block;
  padding-right: 1rem;
}

.footer__social-twitter:before {
  content: url("../img/icon/twiter.png");
  display: inline-block;
  padding-right: 1rem;
}

@media screen and (max-width: 1900px) {
  .services img {
    width: 26rem;
    height: 26rem;
  }

  .services__item p {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 1620px) {
  .fullscreen {
    height: calc(100vh - 9.9rem);
    padding-top: 9.9rem;
  }

  .header__menu {
    font-size: 3.2rem;
  }

  .services img {
    width: 22rem;
    height: 22rem;
  }

  .services__item p {
    font-size: 3.5rem;
  }

  .personal__header {
    font-size: 7rem;
    padding-top: 1rem;
  }

  .personal__card p {
    height: 10.4rem;
    line-height: 10.4rem;
    font-size: 3.8rem;
  }

  .footer {
    padding: 0 2.5rem;
    font-size: 2.3rem;
  }

  .footer__first h2 {
    font-size: 4rem;
  }

  .footer__form {
    width: 100%;
  }
  .footer__form form input {
    height: 6rem;
    font-size: 2.5rem;
  }
  .footer__form form input::placeholder {
    font-size: 2.5rem;
  }
  .footer__form form textarea {
    height: 15rem;
    font-size: 2.5rem;
  }
  .footer__form form textarea::placeholder {
    font-size: 2.5rem;
  }

  .footer__second {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 1270px) {
  html {
    font-size: 9px;
  }

  .fullscreen {
    height: calc(100vh - 8.9rem);
    padding-top: 8.9rem;
  }

  .header__menu {
    font-size: 3rem;
  }

  .services img {
    width: 22rem;
    height: 22rem;
  }

  .services__item p {
    font-size: 3.5rem;
  }

  .personal__header {
    font-size: 7rem;
    padding-top: 1rem;
  }

  .personal__card p {
    height: 10.4rem;
    line-height: 10.4rem;
    font-size: 3.8rem;
  }

  .footer {
    padding: 0 2.5rem;
    font-size: 2.3rem;
  }

  .footer__first h2 {
    font-size: 4rem;
  }

  .footer__form {
    width: 100%;
  }
  .footer__form form input {
    height: 6rem;
    font-size: 2.5rem;
  }
  .footer__form form input::placeholder {
    font-size: 2.5rem;
  }
  .footer__form form textarea {
    height: 15rem;
    font-size: 2.5rem;
  }
  .footer__form form textarea::placeholder {
    font-size: 2.5rem;
  }

  .footer__second {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 8px;
  }

  .personal {
    height: 100%;
    padding-top: 8.9rem;
  }

  .header {
    height: 8.9rem;
  }

  .header__menu {
    font-size: 2.5rem;
  }

  .gallery {
    padding: 5rem 3.3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3.5rem;
  }

  .item_1 {
    grid-area: 1/1/2/2;
    height: 100%;
    animation: fadeInLeft 1.5s ease 2s 1 normal forwards;
  }

  .item_2 {
    grid-area: 1/2/2/3;
    animation: fadeInRight 1.5s ease 1s 1 normal forwards;
  }

  .item_3 {
    grid-area: 2/1/3/2;
    animation: fadeInLeft 1.5s ease 2s 1 normal forwards;
  }

  .item_4 {
    grid-area: 2/2/3/3;
    animation: fadeInRight 1.5s ease 1s 1 normal forwards;
  }

  .item_5 {
    grid-area: 3/1/4/2;
    animation: fadeInLeft 1.5s ease 2s 1 normal forwards;
  }

  .item_6 {
    grid-area: 3/2/4/3;
    height: 100%;
    animation: fadeInRight 1.5s ease 1s 1 normal forwards;
  }

  #Services {
    display: flex;
    flex-direction: column-reverse;
  }

  .services {
    width: 100%;
  }
  .services img {
    width: 22rem;
    height: 22rem;
  }

  .services__item p {
    font-size: 3.5rem;
  }

  .poster {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
  }

  .personal__header {
    font-size: 6rem;
    padding-top: 1rem;
  }

  .personal__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .personal__card {
    width: 100%;
  }
  .personal__card p {
    height: 10.4rem;
    line-height: 10.4rem;
    font-size: 3.8rem;
  }

  .person_2 {
    background: url("../img/screen_3/Jason.jpeg") top center/cover no-repeat;
  }

  .footer {
    padding: 0 2.5rem;
  }
  .footer__opening {
    padding-top: 1.5rem;
  }
  .footer__opening h2 {
    padding-bottom: 1rem;
  }
  .footer__social {
    padding-top: 2rem;
  }
  .footer__social a {
    text-align: center;
  }

  .footer__first {
    flex-direction: column;
  }
  .footer__first h2 {
    font-size: 5.4rem;
  }

  .footer__form {
    width: 100%;
  }
  .footer__form form input {
    height: 6rem;
    font-size: 2.5rem;
  }
  .footer__form form input::placeholder {
    font-size: 2.5rem;
  }
  .footer__form form textarea {
    height: 15rem;
    font-size: 2.5rem;
  }
  .footer__form form textarea::placeholder {
    font-size: 2.5rem;
  }

  .footer__map {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }

  .footer__second {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 7px;
  }

  .menu__item {
    font-size: 1.6rem;
  }

  .fullscreen {
    height: 100%;
    padding-top: 0;
  }

  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding-top: 19rem;
  }

  .gallery__items {
    height: 200px;
  }

  .item_1 {
    grid-area: 1/1/2/2;
    animation: fadeInLeft 1.2s ease 2s 1 normal forwards;
  }

  .item_2 {
    grid-area: 2/1/3/2;
    animation: fadeInRight 1.4s ease 1s 1 normal forwards;
  }

  .item_3 {
    grid-area: 3/1/4/2;
    animation: fadeInLeft 1.6s ease 2s 1 normal forwards;
  }

  .item_4 {
    grid-area: 4/1/5/2;
    animation: fadeInRight 1.8s ease 1s 1 normal forwards;
  }

  .item_5 {
    grid-area: 5/1/6/2;
    animation: fadeInLeft 1.9s ease 2s 1 normal forwards;
  }

  .item_6 {
    grid-area: 6/1/7/2;
    animation: fadeInRight 2s ease 1s 1 normal forwards;
  }

  .poster {
    display: none;
  }

  .services img {
    width: 20rem;
    height: 20rem;
  }

  .services__item {
    padding-top: 2rem;
  }
  .services__item p {
    font-size: 3rem;
  }

  .personal__header {
    font-size: 4.5rem;
    margin-top: 5rem;
  }

  .personal__content {
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    height: 170rem;
    align-items: center;
  }

  .personal__card {
    width: 70%;
  }

  .footer {
    padding: 0 2.5rem;
  }
  .footer__opening {
    padding-top: 1.5rem;
  }
  .footer__opening h2 {
    padding-bottom: 1rem;
  }
  .footer__social {
    padding-top: 2rem;
  }
  .footer__social a {
    text-align: center;
  }

  .footer__first {
    flex-direction: column-reverse;
  }
  .footer__first h2 {
    margin-top: 2rem;
    font-size: 4.4rem;
  }

  .footer__form {
    width: 100%;
  }
  .footer__form form input {
    height: 5rem;
    width: 100%;
    font-size: 2.5rem;
    margin: 2rem 0;
  }
  .footer__form form input::placeholder {
    font-size: 2.5rem;
  }
  .footer__form form textarea {
    height: 12rem;
    width: 86%;
    font-size: 2.5rem;
    margin-left: 1.3rem;
  }
  .footer__form form textarea::placeholder {
    font-size: 2.5rem;
  }
  .footer__form form #name {
    width: 85%;
    margin-left: 1.3rem;
  }
  .footer__form form #email {
    width: 85%;
    margin-left: 1.3rem;
  }

  .footer__map {
    width: 100%;
    height: 45rem;
    margin-top: 2rem;
  }

  .footer__second {
    padding-top: 1rem;
  }
}