      .alkali {
        background-color: #FF4343;
      }

      .alkaline-earth {
        background-color: #FF7043;
      }

      .transition-metals {
        background-color: #FF8A00;
      }

      .metals {
        background-color: #15AE5D;
      }

      .metalloid {
        background-color: #1b99c1;
      }

      .nonmetal {
        background-color: #2D68DA;
      }

      .halogens {
        background-color: #6448ff;
      }

      .noble-gas {
        background-color: #9328fe;
      }

      .lanthanide {
        background-color: #699798;
      }

      .actinide {
        background-color: #976995;
      }
